
section{
	background-color: #fbdb16;
	width: 39%; 
	padding: 5%;
	margin-top: 0.5%;
	/*white-space : nowrap; *//* this does the trick */
	height: 25%;
	display: inline-block;
}

section img{
	width: 80%;
	height:auto;
}

h1{
	font-size: 3em
}


