/* main.css */

/* entire doc in Helvetica font */
html{
	font-family: Helvetica;
}

/* Nav bar formatting*/
nav{
	height: 45px;
	background-color: #404040;
}

header ul {
	height: 100%;
	width: 	50%;
	/*background-color: #404040;*/
	float: right;
	white-space : nowrap; /* this does the trick */
    overflow : hidden;
}
header ul li a{
	text-decoration: none;
	color: white;
	 font-variant: small-caps;
}
header ul li{
	position: relative;
	top: 4%;
	display: inline-block;
	/*border-top: 4px solid #ecd91a;*/
	/*background-color: #404040;*/
	margin: -2px;
	padding: 10px;
	font-size: 1.5em;
}

header ul li:hover{
	border-top: 4px solid rgba(236, 217, 18, 0.43);
}

#this-page{
	border-top: 4px solid #f3d102;
}

/*Hi There and welcome paragraph*/
#greeting {
	clear:both;
	float:left;
	background-color: #fbdb16;
	height: 100%;
	
	/*color:white;*/
}
section{
	width: 39%; 
	padding: 5%;
	/*white-space : nowrap; *//* this does the trick */
    overflow : hidden;
	height: 80%;
}

section p{
	height: 100%;
}
/* main image*/
#main-image{
	/*background-color: green;*/
	float: right;
	white-space : nowrap; /* this does the trick */
    overflow : hidden;
}

main{
	/*background-color: blue;*/
	z-index: 40;
    height: 500px;
    width: 100%;
}

#main-image img{
	/*float:right;*/
	width:200px; 
    height: auto;
    margin: 40px;
    /*position: fixed;*/
    /*left: 62%;*/
   /* z-index: -1;*/

}

/*footer*/
footer{
	clear: both;
    height: 45%;
    width: 100%;
    background-color: #404040;
    position: fixed;
    left: 0%;
    top: 92%;
}

footer h4{
	float: right;
	position: relative;
	top: 40%;
	left: -5%;
	color: white;
	/*margin: 5%;*/
}

footer ul{
	float: left;
	/*width: 25%;*/
	padding-left: 10px;
}

footer ul li{
	position: relative;
	display: inline-block;
	margin: 11% 0% 11% 0%;
}

footer img{
	width:20px;
	height: auto;
	/*margin: 60% 15% 15% 15%;
*/}

