/* main.css */

/* entire doc in Helvetica font */
html{
	font-family: Helvetica;
	font-size: 1.6em;
	overflow: scroll;
	/*height: 100vmax;*/
}

/* Nav bar formatting*/
nav{
	/*height: 45px;*/
	overflow: hidden;
	background-color: #404040;
}

header ul {
	height: 100%;
	width: 	50%;
	/*background-color: #404040;*/
	float: right;
	white-space : nowrap; /* this does the trick */
    overflow : hidden;
}
header ul li a{
	text-decoration: none;
	color: white;
	font-variant: small-caps;
	text-transform: lowercase;
}
header ul li{
	display: inline-block;
	padding: 2% 2.5% 2.5% 2.5%;
	margin: -0.3%;
	font-size: 1.5em;
}

header ul li:hover{
	border-top: 6px solid rgba(236, 217, 18, 0.43);
}

#this-page{
	border-top: 6px solid #f3d102;
}

/*Hi There and welcome paragraph*/
#greeting {
	clear:both;
	float:left;
	background-color: #fbdb16;
	height: 35vmax;
	
	/*color:white;*/
}

.front-page{
	
	width: 100%;
	padding:0;
	/*opacity: 0.5;*/
	/*background: rgba(255,0,0,0.4);*/
	overflow: hidden;
}

.front-page h1{
	font-size: 2em;
	padding-bottom: 1%;
	/*background-color: #fbdb16;*/
	background: rgba(251, 229, 33, 0.79);
	/*position: relative;*/
}

.front-page h2{
	font-size: 1.3em;
	/*background-color: #fbdb16;*/
	background: rgba(255, 255, 255, 0.8);;
	/*border: 6px solid white;*/
	/*position: relative;*/
}

.front-page img{
	width:100vmax; 
    height: auto;
    margin-bottom: -1%;
    /*opacity: 0.8;*/
    /*margin-bottom: -1vmax;
    margin-top: -4.4vmax;*/
}

#headline{
	position: fixed;
}


section{
	width: 39%; 
	padding: 5%;
	/*margin-bottom: -1%;*/
	/*overflow : hidden;*/
}
	/*white-space : nowrap; *//* this does the trick */
 
	/*height: 80%;*/

section p{
	/*height: 100%;*/
}
/* main image*/
#main-image{
	/*background-color: green;*/
	float: right;
	white-space : nowrap; /* this does the trick */
    overflow : hidden;
}

main{
	/*background-color: blue;*/
    min-height: 100%;
    width: 100%;
}

#main-image img{
	/*float:right;*/
	width:200px; 
    height: auto;
    margin: 40px;
    /*position: fixed;*/
    /*left: 62%;*/
   /* z-index: -1;*/

}

/*footer*/
footer{
	clear: both;
    overflow: hidden;
    width: 100%;
    height:10%;
    background-color: #404040;
    position: relative;
    /*top: 94vmax;*/
}

footer h4{
	float: right;
	position: relative;
	/*top: 40%;*/
	/*left: -5%;*/
	color: white;
	margin: 20px 3% 0% 0%;
}

footer ul{
	float: left;
	/*width: 25%;*/
	padding-left: 10px;
}

footer ul li{
	position: relative;
	display: inline-block;
	margin: 11% 0% 11% 0%;
}

footer img{
	width:25px;
	height: auto;
	/*margin: 60% 15% 15% 15%;
*/}

